<table>
  <th>Person Name</th>
  <tr>
    <%@figures.each do |figure|%>
    <td align="center"><a href="/figures/<%=figure.id%>"><%=figure.name%></a></td>
    <ul>
      <%figure.titles.each do |title|%>
      <li><%=title.name%></li>
      <%end%>

    </ul>
    <%end%>
  </tr></td>
</table>
<a class="button" href="/">Go Home</a>
